* {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    cursor: default;
}

:root {
    color-scheme: light dark;

    --spacing: 20px;
}

html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: var(--spacing);
    margin: 0 calc(var(--spacing) * 1.5);
    height: 100%;

    font: -apple-system-short-body;
    text-align: center;
}

body:not(.platform-mac, .platform-ios) :is(.platform-mac, .platform-ios) {
    display: none;
}

body.platform-ios .platform-mac {
    display: none;
}

body.platform-mac .platform-ios {
    display: none;
}

body.platform-ios .platform-mac {
    display: none;
}

body:not(.state-on, .state-off) :is(.state-on, .state-off) {
    display: none;
}

body.state-on :is(.state-off, .state-unknown) {
    display: none;
}

body.state-off :is(.state-on, .state-unknown) {
    display: none;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    padding: 12px 24px;
    text-align: center;
}


.subtext {
    font-size: 0.8em;
    color: gray;
}

.subtext span {
    color: red !important;
}
